.vscode/**
.gitignore
.vscodeignore
.vscode-test.mjs
.vscode-test/**
esbuild.mjs
esbuild.integration.mjs
vitest.config.ts
src/**
test/**
test-integration/**
out-test/**
tsconfig.json
**/*.ts
**/*.map
*.vsix
node_modules/**
